/* Botón de proyectos */
.btn-project {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s;
    width: 85%;
}

.btn-project:hover {
    background-color: var(--highlight-color);
}
