/* Pie de página */
.footer {
    background-color: var(--footer-background);
    color: white;
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
    border-top: 5px solid var(--primary-color);
}

/* Redes sociales */
.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}
