/* Encabezado */
header {
    text-align: center;
    padding: 3rem 2rem;
    background-color: var(--secondary-color);
    color: white;
    border-bottom: 5px solid var(--primary-color);
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid var(--primary-color);
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--primary-color);
}

header p {
    font-size: 1.2rem;
    color: var(--text-color);
}
