/* Contenido principal */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    animation: slideUp 1.5s;
}

@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Secciones */
.section {
    display: none;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    background-color: var(--background-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    border-radius: 10px;
    
}

.section.active {
    display: block;
}

.section-center{
 text-align: center;
}