@import url("../global/_variables.css");

/* Estilo para la sección 'Sobre mí' */
.aboutme-container {
    width: 60%; /* Ancho reducido para pantallas grandes */
    text-align: center;
    background-color: var(--c4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 100px;
    padding: 30px;
}

/* Título de la sección 'Sobre mí' */
.aboutme-title {
    font-size: 4em;
    text-align: center;
    color: var(--c2);
    -webkit-text-stroke: 2px var(--c3); /* Grosor y color del borde */
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
}

/* Subtítulo de la sección 'Sobre mí' */
.aboutme-subtitle {
    font-size: 2em;
    text-align: center;
    color: var(--c2);
    font-style: oblique;
    -webkit-text-stroke: 1px var(--c3);
    margin-top: 5px;
}

/* Estilo de la tarjeta de perfil */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Imagen de perfil */
.profileImage {
    background-image: url("../../IMG/FOTO.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

/* Descripción de 'Sobre mí' */
.aboutme-description {
    max-width: 80%;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

/* Estilo de la lista de habilidades/intereses */
ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}

li {
    margin-bottom: 10px;
}

/* Media Queries para hacer el diseño más responsivo */

/* Para pantallas de 768px o menos (Tabletas) */
@media screen and (max-width: 768px) {
    .aboutme-container {
        width: 80%; /* Ampliar el ancho para tabletas */
    }

    .aboutme-title {
        font-size: 3em; /* Reducir el tamaño del título */
    }

    .aboutme-subtitle {
        font-size: 1.5em; /* Reducir el tamaño del subtítulo */
    }

    .profileImage {
        width: 140px; /* Reducir el tamaño de la imagen */
        height: 140px;
    }

    .aboutme-description {
        max-width: 90%; /* Ampliar el ancho de la descripción */
    }
}

/* Para pantallas de 480px o menos (Móviles pequeños) */
@media screen and (max-width: 480px) {
    .aboutme-container {
        width: 90%; /* El ancho será mayor en móviles pequeños */
        padding: 20px; /* Reducir el padding */
    }

    .aboutme-title {
        font-size: 2.5em; /* Reducir el tamaño del título */
    }

    .aboutme-subtitle {
        font-size: 1.2em; /* Reducir el tamaño del subtítulo */
    }

    .profileImage {
        width: 120px; /* Ajustar la imagen a un tamaño más pequeño */
        height: 120px;
    }

    .aboutme-description {
        max-width: 95%; /* Mejorar la legibilidad en móviles */
    }
}
