@import url("../global/_variables.css");

/* Estilo del Navbar */
.navbar-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    background-color: var(--c4);
    width: 50%; /* Para pantallas grandes */
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 10px;
    left: 25%; /* Centrado */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 0.5s ease-in-out;
    z-index: 1000;
    overflow-x: hidden;
}

/* Estilo de los botones */
.navbar-button {
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-button:hover {
    transform: translateY(-3px);
    color: var(--c2);
}

/* Cambio de color al hacer scroll */
.scrolled {
    background-color: var(--c3) !important;
}

/* Media Queries para Responsividad */

/* Dispositivos medianos (Tablets) */
@media screen and (max-width: 1220px) {
    .navbar-container {
        width: 90%; /* Hacerlo más ancho */
        left: 5%; /* Centrar mejor */
        height: auto; /* Para que se adapte al contenido */
        flex-direction: column; /* Organizar en columna */
        padding: 10px;
        top: 10px;
        gap: 5px; /* Espaciado más controlado */
        margin-bottom: 120px;
    }

    .navbar-button {
        font-size: 1em;
        padding: 8px 12px;
    }
}

/* Dispositivos pequeños (Móviles) */
@media screen and (max-width: 480px) {
    .navbar-container {
        position: static; /* Cambiado a 'static' para que no se mueva */
        text-align: center;
        width: 100%; /* Asegura que ocupe el 100% de la pantalla */
        left: 0; /* Alineación con el borde */
        top: 0; /* Mantiene el navbar en la parte superior */
        height: auto;
        flex-direction: column;
        padding: 15px;
        gap: 10px; /* Más espacio en móviles */
    }

    .navbar-button {
        font-size: 0.9em;
        padding: 5px 6px;
    }
}
